[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
psycopg2-binary = "==2.8.6"
requests = "==2.25.1"
sentry-sdk = "==1.0.0"
Django = "==3.2"
coverage = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.8"
