{% extends 'webapp/base.html' %} {% block content %}

<div class="container-fluid p-5 mt-5 text-center text-white"></div>

	<!--Reset Password-->
	<div class="container p-5">
		<h2>Vous avez oublié votre password ?</h2>
		<p>Entrez votre adresse mail ci-dessous, et nous vous enverrons les instructions pour en créer un nouveau.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form}}                    
            <button class="btn btn-warning" type="submit">Send email</button>
        </form>
  	</div> 

{% endblock %}