{% extends 'webapp/base.html' %} {% block content %}

<div class="container-fluid p-5 mt-5 text-center text-white"></div>

	<div class="container px-5">
  	<h2 class="font-weight-bold mt-3">L'email de reset a été envoyé</h2>
	  <hr>
		<p>Nous vous avons envoyés les instructions pour changer votre password, il devrait arriver rapidement.<br>
		Si vous ne recevez pas cet email, vérifiez que vous avez entré l'adresse email avec laquelle vous vous êtes enregistré, et jetez aussi un oeil à votre dossier spam.</p>
  </div>

{% endblock %}